# Les Classes

In [ ]:
# Quand on veut utiliser une classe il y a 3 etapes :
# Etape 1 : la definir
# Etape 2 : en creer une instance
# Etape 3 : l'utiliser


# Etape 1 : la definir
class Person():
    def __init__(self, name, salary, age): # Ici c'est la fonction qui est appelle quand on cree l'instance (en etape 2)
        self.name = name
        self.salary = salary # Ici c'est une variable / attribut
        self.age = age # Ici c'est une variable / attribut

    def get_salary(self): # Ici c'est une fonction / mehode de classe
        return self.salary

    def get_age(self): # Ici c'est une fonction / mehode de classe
        return self.age

In [ ]:
# Etape 2 : en creer une instance
person_instance = Person("Didier",2700,25)

In [ ]:
blabla,blabla2,blabla3 = "blabla", 2500,30
person2 = Person(blabla,blabla2,blabla3)

In [ ]:
# Etape 3 : j'utilise l'instance de classe : appel des attributs et des methodes
print(person_instance.get_age())
print(person_instance.get_salary())
print(person_instance.name)

25
2700
Didier

In [ ]:
print(person_instance.name)
person_instance.name = "je change ton nom"
print(person_instance.name)

Didier
je change ton nom

In [ ]:
# Ici on peut faire ca car la classe est "simple", mais normalement c'est interdit
person_instance.surname = "surnom"
print(person_instance.surname)

surnom

In [ ]:
# Ici on ne peut pas donner de nouvel attribut a ma classe List
liste = [21,2,3]
liste.surname = "surnom"

AttributeError: 'list' object has no attribute 'surname'